In [1]:
import pandas as pd
import numpy as np

In [5]:
df = pd.DataFrame({'Name': ['Alice', 'Charlie', 'Bob'],
                  'Age': [25, 35, 30],
                  'City': ['NY', 'SF', 'LA']})
print(df)

      Name  Age City
0    Alice   25   NY
1  Charlie   35   SF
2      Bob   30   LA

In [3]:
#Filtering
young_folks = df[df['Age']<30]
print(young_folks)

    Name  Age City
0  Alice   25   NY

In [6]:
#Sorting
sorted_df = df.sort_values(by='Age')
print(sorted_df)

      Name  Age City
0    Alice   25   NY
2      Bob   30   LA
1  Charlie   35   SF

In [7]:
#Grouping
grouped_df = df.groupby('City').mean()
print(grouped_df)

       Age
City
LA    30.0
NY    25.0
SF    35.0

/var/folders/wb/_6w_6mz16kqdy6qhq00my1rr0000gn/T/ipykernel_51019/1548680940.py:2: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  grouped_df = df.groupby('City').mean()

In [8]:
df_empty = pd.DataFrame({'Name': ['Blake', '', 'Mason'],
                        'Age': [24, np.nan, np.nan],
                        'City': ['BOS', 'MIA', 'LAS']})
print(df_empty)

    Name   Age City
0  Blake  24.0  BOS
1          NaN  MIA
2  Mason   NaN  LAS

In [9]:
#replacement 

df_filled = df_empty.replace('', 'Marji')
print(df_filled)

    Name   Age City
0  Blake  24.0  BOS
1  Marji   NaN  MIA
2  Mason   NaN  LAS

In [10]:
df_dropped = df_empty.dropna()
print(df_dropped)

    Name   Age City
0  Blake  24.0  BOS

In [11]:
#Imputation 
mean_age = df_empty['Age'].mean()
print(mean_age)
df_empty['Age'] = df_empty['Age'].fillna(mean_age)
print(df_empty['Age'])

24.0
0    24.0
1    24.0
2    24.0
Name: Age, dtype: float64

In [12]:
print(df_empty)

    Name   Age City
0  Blake  24.0  BOS
1         24.0  MIA
2  Mason  24.0  LAS